* {
	font-family: 'Montserrat', sans-serif;
}

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.65) 100%), url(../images/landingbackground2.jpeg) no-repeat top center scroll;
}

/*img {
	height: ;
	width: ;
}*/

h1 {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  letter-spacing: 0.03em;
  line-height: 5;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 44px;
 }

 .header {
 	font-size: 11vmin;
 }

p {
	font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 3vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 44px;
}
    
      
button {
  background: transparent;
  transition: background ease .25s;
  border-radius: 1px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid white;
}

button:hover {
  background: #ffffff;
  color: black;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

@media only screen and (max-width: 480px) {
	img {
		height: 100px;
		width: 100px;
	}

	.masthead {
		background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.65) 100%), url(../images/landingbackground2.jpeg) no-repeat top right scroll;
	}
}