/*base*/
* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #F9F9F9;
}

/*.masthead {
  display: none;
}
*/
/*nav bar*/
nav {
  background-color: #2f2f2f;
  max-width: 100vw;
}

.fillerdiv {
  height: 60px;
}

/*home*/
/*carousel*/
.carousel-item {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

/*home short about*/
.short-intro {
  text-align: center;
  padding: 20px 30px 20px 30px;
  border: 2px solid black;
  margin: 30px;
}

.intro-home {
  border-bottom: 2px;
}

/*gallery*/
.gallery-title {
  border-bottom: 1px solid black;
  padding: 15px 0px 5px 0px;
  margin-bottom: 20px;
  font-size: 200%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  padding: 10px;
}

.images-gallery {
  max-width: 305px;
  height: 305px;
  border: 3px solid black;
  object-fit: cover;
}

/*form*/

input {
  width: 305px;
  padding: 8px;
}

button {
  padding: 10px;
  background: #2f2f2f;
  color: white;
  font-size: 10px;
}

button:hover {
  width: 110px;
  height: 60px;
}

/*about*/
.header-about {
  padding-top: 80px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.ameninramen {
  width: 100%; 
  height: 100%;
  border: 3px solid black;
  object-position: center;
  text-align: center;
}

.social-media a {
  color: #2f2f2f;
  margin: 0 .5rem;
  font-size: 1.5rem;
  opacity: .75;
}

.social-media a:hover {
  color: #2f2f2f;
  opacity: 1;
}


/*contact*/
.contact-container{
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-contact, .label-contact {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  display: inline;
  width: 70%;
  height: 45px;
}



/*filipino dishes*/
.fdish-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-size: cover;
  background: url(../images/fdishmain.png) no-repeat center center scroll;
}

/*japanese dishes*/
.jdish-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-size: cover;
  background: url(../images/jdishmain.jpeg) no-repeat center center scroll;
}

/*desserts*/
.desserts-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-size: cover;
  background: url(../images/dessertsmain-copy.jpeg.png) no-repeat center center scroll;
}

.cuisine-title {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 1px;
}

.recipe-picture {
  width: 100%;
  /*height: 250px;*/
  border: 2px solid black;
}

@media only screen and (min-width: 401px) and (max-width: 961px) {

  .carousel-item {
      height: 50vh;
      width: 100vw;
      object-fit: contain;
    }

  div > h3 {
      font-size: 25px;
    }

  .contact-footer {
  height: 100px;
}
}

@media only screen and (max-width : 400px) {

  .carousel {
    display: none;
  }

  .images-gallery {
    max-width: 200px;
    height: 200px;
    border: 3px solid black;
    object-fit: cover;
  }

  .grid-container {
    display: block;
  }

  .short-intro {
  text-align: center;
  padding: 20px 30px 20px 30px;
  border: 2px solid black;
  margin-top: 70px;
  }

  .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%
  height: 45vh;
  overflow: hidden;
  background: url("../images/landingbackground.jpeg") no-repeat center center scroll;
  text-shadow: 1px 1px 15px #000000;
  }

  .form-contact, .label-contact {
  display: block;
  margin-top: 10px;
  text-align: center;
  }
}